@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', sans-serif;
}
h1 {
<<<<<<< HEAD
<<<<<<< HEAD
  background: #d0c6c6;
  font-size: 1.50rem;
  text-align: center;
  padding: 19px 0;
  color: hsla(0, 24%, 94%, 0.992);
=======
  background: #f7efef;
=======
  background: #f7f4f4;
>>>>>>> 494cef86e93ff5b4afa461810939cda5bb1bbcdc
  font-size:1.50rem;
  text-align:center;
  padding:19px 0;
  color: hsla(0, 6%, 87%, 0.992);
>>>>>>> 7373ef65f5aa5163ae47a01470bc9ec3b508d4f6
}
body {
    text-align:center;
  }
.container {
  display:flex;
  gap:35px;
  padding:35px;
}
.weather-input {
  width:500px;
}
.weather-input input {
  height:45px;
  width:100%;
  outline: none;
  font-size:1.19rem;
  padding: 0 17px;
  margin: 10px 0 20px 0;
<<<<<<< HEAD
  border-radius: 4px;
  border: 1px solid #e0c0c0f3;
=======
  border-radius: 4.5px;
  border: 1px solid #aba3a3f3;
>>>>>>> 39559eefd2154240e473e477c3bf4b20c7987c2b
}
.weather-input input:focus {
  padding: 0 12px;
  border: 3px solid #478f9f;
}
.weather-input .separator {
  height: 2px;
  width: 100%;
  margin: 28px 0;
  background: #dcc1c1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-input .separator::before{
  content: "or";
  color: #839eb5;
  font-size: 1.17rem;
  padding: 0 15px;
  margin-top: -3px;
  background: #9ab7cb;
}
.weather-input button {
  width: 99.9%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #4d78aa;
  background: #47b0c8;
  transition: 0.2s ease;
}
.weather-input .search-btn:hover {
  background: #2299b4;
}
.weather-input .location-btn {
  background: #a1b1c0;
}
.weather-input .location-btn:hover {
  background: #777d84;
}
.weather-data {
  width: 100%;
}
.weather-data .current-weather {
  color: #e08080;
  background: #84def3;
  border-radius: 5px;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.current-weather h2 {
  font-weight: 70;
  font-size: 1.9rem;
}
.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.current-weather .icon {
  text-align: center;
}
.current-weather .icon img {
  max-width: 125px;
  margin-top: -15px;
}
.current-weather .icon h6 {
  margin-top: -10px;
  text-transform: capitalize;
}
.days-forecast h2 {
  margin: 20px 0;
  font-size: 1.5rem;
}
.days-forecast .weather-cards {
  display: flex;
  gap: 21px;
}
.weather-cards .card {
<<<<<<< HEAD
  color: #e8cccc;
  padding:16px;
=======
  color: #fff;
  padding: 18px 14px;
>>>>>>> a76ac160eda4d668088b243a4b6fe0a4cb09a3fd
  list-style: none;
  width: calc(100% / 5);
  background: #296196;
  border-radius: 6px;
}
.weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
.weather-cards .card img {
  max-width: 70px;
  margin: 10px 0 -12px 0;
}

@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
}
@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
}
@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-cards .card {
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }
  .container {
    flex-wrap: wrap;
    padding: 20px;
  }
  .weather-input {
    width: 100%;
  }
  .weather-data h2 {
    font-size: 1.36rem;
  }
}